:root {
  --main-title-color: #212121;
  --extra-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --card-gap: 30px;
  --timing: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--timing) var(--timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: transform var(--timing) var(--timing-function);
  transform: scaleX(0);
  transform-origin: left;
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  transform: scaleX(1);
}

.site-nav__current {
  color: var(--accent-color);
}

.site-nav__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.contacts {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--timing) var(--timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open {
  margin: 22px 23px 22px auto;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  display: block;
  margin: 10px 15px auto auto;
  border: none;
  background-color: transparent;
  fill: #212121;
  transition: fill var(--timing) var(--timing-function);
}

.menu-close:focus, .menu-close:hover {
  fill: var(--accent-color);
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  padding: 10px 0 0 40px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    visibility: hidden;
  }
}

.mob-down {
  margin-top: 302px;
}

.mob-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color var(--timing) var(--timing-function);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu__current {
  color: var(--accent-color);
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contacts__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-socials {
  display: flex;
  justify-content: start;
  margin-left: -21px;
}

.mob-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-socials__item {
  display: flex;
}

.mob-socials__item::before {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background-color: var(--accent-color);
  flex-shrink: 0;
  margin: 0 10px;
}

.mob-socials__item:nth-of-type(1):before {
  background-color: #ffffff;
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: #000000;
  margin: 16px auto 16px 15px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.19;
    margin: 0;
    margin-right: 93px;
  }
}

.header__logo-accent {
  color: var(--accent-color);
}

.footer__logo {
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--extra-title-color);
  margin-bottom: 20px;
}

.footer__logo-accent {
  color: var(--accent-color);
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--extra-title-color);
  background: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  transition: background-color var(--timing) var(--timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--main-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color var(--timing) var(--timing-function), color var(--timing) var(--timing-function), box-shadow var(--timing) var(--timing-function);
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-color);
  color: var(--extra-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero {
  flex-grow: 1;
  text-align: center;
  background-color: #2f303a;
  padding: 118px 0 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-bg-tel-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-bg-tel-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-bg-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-bg-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    padding: 200px 0 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-bg-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 21px;
  line-height: calc(40 / 21);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: calc(42 / 26);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  width: 450px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.features__item:nth-child(4n) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features__item:nth-child(3n) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-right: 30px;
  }
  .features__item:nth-child(4n) {
    margin-right: 0;
  }
}

.features__box {
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
}

.features__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    justify-content: start;
  }
}

.section__no-padding-top {
  padding-top: 0;
}

.work {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}

.work-section__title {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section__title {
    display: flex;
  }
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-title-color);
  margin: 27px auto;
}

.section__other-background {
  padding-top: 0;
  background-color: #f5f4fa;
}

.section__other-background .section-title {
  padding-top: 94px;
}

.team-list {
  display: flex;
}

.team-list__item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-list__text {
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--timing) var(--timing-function), color var(--timing) var(--timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--extra-title-color);
}

.socials__icon {
  fill: currentColor;
}

.section-title {
  padding-top: 60;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customers__item:nth-child(-n + 4) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .customers__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    margin-bottom: 0;
  }
  .customers__item:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill var(--timing) var(--timing-function), border-color var(--timing) var(--timing-function);
}

.customers__link:hover, .customers__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
  position: relative;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--timing) var(--timing-function);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--extra-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--timing) var(--timing-function);
}

.portfolio-list__item:hover .portfolio-list__overlay-text,
.portfolio-list__item:focus .portfolio-list__overlay-text {
  transform: translateY(0%);
}

.portfolio-list__box {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
  margin-top: 4px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left {
  flex-grow: 1;
  margin-right: 70px;
}

.footer__contact {
  font-style: normal;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--extra-title-color);
}

.footer__contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle {
  margin-right: 93px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--extra-title-color);
  margin-bottom: 20px;
}

.footer__socials {
  display: flex;
}

.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--extra-title-color);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing) var(--timing-function);
}

.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: var(--accent-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer__form {
  display: flex;
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: transparent;
  outline: none;
  margin-right: 12px;
  padding: 15px 16px;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus, .footer__input:hover {
  outline: none;
  color: #ffffff;
  background-color: transparent;
}

.footer__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--extra-title-color);
  background: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  transition: background-color var(--timing) var(--timing-function);
}

.footer__button:hover, .footer__button:focus {
  background-color: #188ce8;
}

.footer__plane-icon {
  display: inline-block;
  align-items: center;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--timing) var(--timing-function), visibility var(--timing) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  min-height: 581px;
  width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-window__button {
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--timing) var(--timing-function);
}

.modal-window__button:hover {
  fill: var(--accent-color);
}

.modal__form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
  text-align: center;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal__form-input-wrap {
  display: block;
  position: relative;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  cursor: pointer;
  transition: border-color var(--timing) var(--timing-function);
}

.modal__form-input:focus {
  border-color: var(--accent-color);
  outline: none;
  color: var(--main-text-color);
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.modal__form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--timing) var(--timing-function);
}

.modal-input:focus ~ .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  display: block;
}

.modal__form-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color var(--timing) var(--timing-function);
}

.modal__form-text:focus {
  border-color: var(--accent-color);
  outline: none;
  color: var(--main-text-color);
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.modal__form-policy-field {
  margin-bottom: 30px;
}

.modal__form-checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 12);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form-checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form-checkbox:checked + .modal__form-checkbox-text > .modal__form-checkbox-icon {
  background-color: var(--accent-color);
  border: none;
}

.modal__form-checkbox-link {
  text-decoration-line: underline;
  color: #2196f3;
  margin-left: 5px;
}

.modal__form-send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--extra-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  transition: background-color var(--timing) var(--timing-function);
  margin: 0 auto;
  display: block;
}

.modal__form-send-button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */