.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-right: 30px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.features__box {
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
