.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__left-middle {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    margin-right: 93px;
  }
}

.footer-left {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__contact {
  font-style: normal;
  @media screen and (max-width: 1200px) {
    display: block;
    text-align: center;
  }
}

.footer__contact-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer__contact-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--extra-title-color);
}

.footer__contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--extra-title-color);
  margin-bottom: 20px;
  text-align: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
}

.footer__socials-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--extra-title-color);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.container-footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.footer__input {
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  height: 50px;
  width: 100%;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: transparent;
  outline: none;
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  padding: 15px 16px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus,
  &:hover {
    outline: none;
    color: #ffffff;
    background-color: transparent;
  }
}

.footer__button {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--extra-title-color);
  background: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  transition: background-color var(--timing) var(--timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer__plane-icon {
  margin-left: 10px;
}
