.portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
  }
}

.portfolio-list__item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  position: relative;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--card-gap));
  }
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--timing) var(--timing-function);
  &:hover,
  &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.portfolio-list__item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--extra-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--timing) var(--timing-function);
  .portfolio-list__item:hover &,
  .portfolio-list__item:focus & {
    transform: translateY(0%);
  }
}

.portfolio-list__box {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
  margin-top: 4px;
}
