.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: #000000;
  margin: 16px auto 16px 15px;
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin: 0;
    margin-right: 93px;
  }
}

.header__logo-accent {
  color: var(--accent-color);
}

.footer__logo {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--extra-title-color);
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    justify-content: start;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__logo-accent {
  color: var(--accent-color);
}
