.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--timing) var(--timing-function),
    color var(--timing) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--extra-title-color);
  }
}

.socials__icon {
  fill: currentColor;
}
