:root {
  --main-title-color: #212121;
  --extra-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --card-gap: 30px;
  --timing: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
